[submodule "vim/bundle/ScrollColors"]
	path = vim/bundle/ScrollColors
	url = git@github.com:vim-scripts/ScrollColors.git
[submodule "vim/bundle/TabBar"]
	path = vim/bundle/TabBar
	url = git@github.com:vim-scripts/TabBar.git
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = git@github.com:scrooloose/snipmate-snippets.git
[submodule "vim/bundle/ctrp.vim"]
	path = vim/bundle/ctrp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/snipmate.vim"]
	path = vim/bundle/snipmate.vim
	url = git@github.com:msanders/snipmate.vim.git
[submodule "vim/bundle/AutoComplPop"]
	path = vim/bundle/AutoComplPop
	url = git@github.com:vim-scripts/AutoComplPop.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "vim/bundle/greplace"]
	path = vim/bundle/greplace
	url = git@github.com:vim-scripts/greplace.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
